<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sinatra Calculator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <LI><a href="/">Home</a></LI>
      <LI><a href="/about_us">About Us</a></LI>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
